<nav class="navbar navbar-default navbar-fixed-buttom navbar-line-footer not-responsive">
  <div class="container-fluid no-margin">
    <ul class="nav navbar-nav">
      <li>
        <a id="stamp" href="#" data-toggle="modal" data-target="#stamp-list-modal">
          <i class="fa fa-smile-o fa-lg"></i>
        </a>
      </li>
    </ul>
    <div id="form-region"></div>
  </div>
</nav>
<div id="stamp-modal-region"></div>
