<input id="input-message" type="text" class="form-control pull-left">
<ul class="nav navbar-nav navbar-right">
  <li>
    <a id="submit" href="#"><i class="fa fa-paper-plane fa-lg"></i></a>
  </li>
</ul>
