<div class="media-left">
  <a href="#">
    <img class="media-object img-circle group-image" src="<%- icon %>" alt="<%- icon %>">
  </a>
</div>
<div class="media-body">
  <p class="media-heading"><%- name %> (2)</p>
  <small class="group-latest-message">こんにちは</small>
</div>
