<nav class="navbar navbar-default navbar-fixed-top navbar-line-header not-responsive">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><p class="navbar-text">トーク</p></li>
    </ul>
  </div>
</nav>
