<html lang="jp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" type="text/css"
	media="screen" />
<link rel="stylesheet" href="css/bootstrap.css" th:href="@{css/bootstrap.css}" type="text/css"
	media="screen" />
<link rel="stylesheet" href="css/font-awesome.css" th:href="@{css/font-awesome.css}" type="text/css"
	media="screen" />
<title>lsken group</title>
</head>
<body>

	</div>
	<h2>スタンプリスト表示サンプル</h2>
	
	<table class="table">
		<thead class="sunflower">
			<tr>
				<td>filename</td>
				<td>スタンプデータ</td>
				
			</tr>
		</thead>
		<tbody th:each="list : ${stamps}">
			<tr>
				<td class="text-str" th:text="${list.filename}"></td>
				<td><img th:src="'data:image/png;base64,' + ${list.data}"/></td>
			</tr>
		</tbody>
	</table>
</body>
</html>